{% extends 'base.html.twig' %}


    {% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/css/mdb.min.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

        <script src="{{ asset('js/comments.js') }}"></script>
    {% endblock stylesheets %}




{%  block header %}
    <nav class="navbar navbar-expand-lg navbar-light black">
        <a class="navbar-brand text-white" href="{{ path('homepage') }}">TEST</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            {% if is_granted("ROLE_USER") %}
                <div class="col-xs-3 offset-lg-9 text-right">
                    <a href="{{ path('fos_user_security_logout') }}"
                       class="btn btn-style text-white">{{ 'Se déconnecter'|trans({}, 'FOSUserBundle') }}</a>
                </div>
            {% else %}
                <div class="col-xs-3 offset-lg-9 text-right">
                    <a href="{{ path('fos_user_registration_register') }}"
                       class="btn btn-style text-white">{{ "S'enregistrer"|trans({}, 'FOSUserBundle') }}</a>
                </div>
                <div class="col-xs-3 text-right">
                    <a href="{{ path('fos_user_security_login') }}"
                       class="btn btn-style text-white">{{ 'Se connecter'|trans({}, 'FOSUserBundle') }}</a>
                </div>
            {% endif %}
    </nav>
{% endblock header %}



{% block body %}
    {% for article in articles %}
        <div class="jumbotron">
            <h1 class="display-4">{{ article.title }}</h1>
            <p class="lead">{{ article.content }}</p>
            <hr class="my-4">
            <ul class="list-inline list-unstyled">
                <li><span><i class="glyphicon glyphicon-calendar"></i> {{ article.date }} {#{{ dump(form.article) }}#}</span></li>
                <li>|</li>
                <button class="button_comments"><span><i class="glyphicon glyphicon-comment"></i> {{ nb }} commentaires</span></button>
            </ul>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-12 comments_hide">
                    <div class="comment-wrapper">
                        <div class="panel panel-info panel-comments">
                            <div class="panel-heading">
                                Commentaires
                            </div>
                            <div class="panel-body">
                                {{ form_start(form, {'method': 'post', 'action': path('comment_new')}) }}
                                {{ form_widget(form.content) }}
                                {{ form_widget(form.article) }}
                                <div class="row">
                                    <div class="col-xs-12">
                                        <br>
                                        {% if is_granted("ROLE_USER") %}
                                        <button class="btn btn-send pull-right" type="submit" value="Create">Envoyer</button>
                                        {% else %}
                                            <a href="{{ path('fos_user_security_login') }}" class="btn btn-send pull-right">Envoyer</a>
                                            {% endif %}
                                        <div class="clearfix"></div>
                                        <hr>
                                        {{ form_end(form) }}

                                    </div>
                                </div>

                                {% for comment in comments %}
                                    <strong class="username">@{{ comment.user }}</strong>
                                    <span class="text-muted pull-right">
                                    <small class="text-muted">{{ comment.date }}</small>
                                    </span>
                                    <p>{{ comment.content }}</p>
                                {% endfor %}
                            </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    {% endfor %}
{% endblock body %}


{% block footer %}
    <!-- Footer -->
    <footer class="page-footer font-small black pt-4">

        <!-- Footer Text -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase font-weight-bold">Footer text 1</h5>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita sapiente sint, nulla, nihil repudiandae commodi voluptatibus corrupti animi sequi aliquid magnam debitis</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-6 mb-md-0 mb-3">

                    <!-- Content -->
                    <h5 class="text-uppercase font-weight-bold">Footer text 2</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi earum commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam</p>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Text -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">

        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
{% endblock footer %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock %}


