{% extends 'base.html.twig' %}

 {% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/connexion.css') }}">
{% endblock stylesheets %}

    {% block header %}{% endblock header %}
    {% block content %}{% endblock content %}


    {% block body %}

        <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token('authenticate') %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
            {% endif %}
            <section class="global">
                <div class="container">
                    <div class="row">
                        <div class="card border-none">
                            <div class="col-md-offset-3 col-md-6 col-xs-12">
                                <div class="form-group erreurs input-sm">
                                    {% if error %}
                                        <div class="text-center input-lg">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}
                                </div>
                                <div class="form-group input-lg">
                                    <label for="username">{{ ""|trans }}</label>
                                    <input class="form-control input-lg" type="text" id="username" name="_username"
                                           placeholder="Adresse email ou nom d'utilisateur"
                                           value="{{ last_username }}" required="required"/>
                                </div>

                                <div class="form-group input-lg">
                                    <label for="password">{{ ''|trans }}</label>
                                    <input class="form-control input-lg" type="password" id="password"
                                           name="_password" placeholder="Mot de passe" required="required"/>
                                    <div class="form-group input-lg">
                                        <button type="submit" class="btn-style btn btn-block input-lg" id="_submit"
                                                name="_submit" value="{{ 'Connexion'|trans }}">Connexion
                                        </button>
                                        <a href="{{ path('fos_user_registration_register') }}" class="btn-style btn btn-block input-lg" id="_submit" value="{{ "S'enregistrer"|trans }}">S'enregistrer
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </section>
        </form>
    {% endblock body %}
